{{define "add"}}

<!DOCTYPE html>

<html>
<head>
    {{template "head" .}}
    </head>
    <body>
      {{template "header"}}
    <main>
        <h1>Add a new coin [{{.}}]</h1>
    </body>
</html>

{{end}}

